@charset "UTF-8";

/* ========================================================== 
                            Resets
========================================================== */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

img {
	display: block;
	max-width: 100%;
}

/* ========================================================== 
                            Fonts
========================================================== */

@font-face {
	font-family: "Lato";
	src: url("./../fonts/Lato-Regular.ttf");
}

@font-face {
	font-family: "Orbitron";
	src: url("./../fonts/Orbitron-VariableFont_wght.ttf");
}

/* ========================================================== 
                        Body und Wrapper
========================================================== */

body {
	font-family: "Lato";
	background-color: #2c2c2c;
	scroll-behavior: smooth;
	overflow-x: hidden;
	padding-inline: 5%;
}

.wrapper {
	position: relative;
	max-width: 1280px;
	margin: 0 auto;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
	padding-block: 10vh;
}

.score__keeper__wrapper {
	padding-block: 60px;
	padding-inline: 165px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	gap: 140px;
}

/* ========================================================== 
                            Content
========================================================== */

.overlay {
	position: absolute;
	background-color: rgb(0 0 0 / 92%);
	top: 8vh;
	left: 0;
	right: 0;
	bottom: 8vh;
	width: 100%;
	z-index: 1;
	border-radius: 20px;
	margin: -2vh auto;
	padding-block-start: 20px;
	transition: all 1s ease-in-out;
}

.overlay__closed {
	opacity: 0.5;
	width: 0;
	right: -100%;
	top: 8vh;
	transition: all 1s 0.5s ease-in-out;
}

svg {
	position: absolute;
	right: 20px;
	cursor: pointer;
	fill: #fdf860;
	transition: all 1s ease-in-out;
}

.svg__open {
	transform: rotate(45deg);
	transition: all 1s 0.5s ease-in-out;
}

form {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: wrap;
	color: white;
	position: absolute;
	top: 16vh;
	left: 0;
	right: 0;
	flex-direction: column;
	row-gap: 50px;
	transition: all 0.5s 1s ease-in-out;
	padding-inline: 5%;
}

.form__closed {
	opacity: 0;
	transition: all 0.5s ease-in-out;
}

label {
	font-family: "Orbitron";
	display: block;
	font-size: 1.5rem;
	margin-bottom: 10px;
}

input {
	padding: 5px;
	border-radius: 10px;
}

#home-team,
#away-team {
	font-family: "Orbitron";
	font-size: 1.5rem;
	text-align: center;
	width: 100%;
}

.btn__register {
	padding: 10px 30px;
	font-size: 1rem;
	border-radius: 10px;
	cursor: pointer;
	background: linear-gradient(45deg, #fdf860 50%, white 50%);
	text-transform: uppercase;
	transition: background 1s ease-in-out;
}

.btn__register:hover {
	background: linear-gradient(#fdf860 100%, white 0%);
}

.output__home,
.output__away {
	position: relative;
	background-color: black;
	color: #fdf860;
	font-size: 130px;
	text-align: center;
	border-radius: 20px;
	padding-block: 100px;
	margin-bottom: 100px;
	max-width: 370px;
	font-family: "Orbitron";
}

.output__home {
	outline: 4px solid #97f5bb;
	outline-offset: 25px;
}

.output__away {
	outline: 4px solid #525df4;
	outline-offset: 25px;
}

.output__home p:nth-of-type(2),
.output__away p:nth-of-type(2) {
	position: absolute;
	color: white;
	font-size: 1.875rem;
	bottom: -45px;
	left: 50%;
	background-color: #2c2c2c;
	transform: translate(-50%);
	padding: 0 15px;
	width: max-content;
}

.btn-wrapper {
	display: flex;
	justify-content: center;
	gap: 15px;
}

.btn {
	width: 90px;
	aspect-ratio: 1 / 1;
	border-radius: 20px;
	border: none;
	font-size: 1.875rem;
	color: white;
	cursor: pointer;
}

.btn__left {
	background-color: #97f5bb;
}

.btn__right {
	background-color: #525df4;
}

.btn__reset {
	padding: 10px 40px;
	text-align: center;
	border-radius: 10px;
}

/* ========================================================== 
                        Media Queries
========================================================== */

@media screen and (max-width: 576px) {
	body {
		padding-inline: 0;
	}
	.overlay__closed {
		right: -95%;
		top: 1%;
	}
	.overlay {
		padding-block-start: 3%;
	}
	svg {
		right: 3%;
	}
	section.section__home,
	section.section__away {
		max-width: 75%;
	}
	.score__keeper__wrapper {
		padding-inline: 0;
	}
}
